.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  z-index: 999999;
  height: 60px;
}

.topbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s;
}

.logo:hover {
  opacity: 0.5;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav ul li {
  display: inline;
}

nav ul li a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  transition: 0.3s;
}

nav ul li a:hover {
  opacity: 0.5;
}

.main-content {
  margin-top: 60px; /* Add a top margin equal to the height of the topbar */
}