.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  z-index: 999999;
  height: 60px;
  /* border: 1px solid red; */
}

.topbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s;
}

.logo:hover {
  opacity: 0.5;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 40px;
}

nav ul li {
  display: inline;
}

nav ul li a {
  color: #333;
  text-decoration: none;
  transition: 0.3s;
}

nav ul li a:hover {
  color: #0f957a;
}

.main-content {
  margin-top: 60px; /* Add a top margin equal to the height of the topbar */
}

.header__bars {
  display: none;
  background: none;
  border: none;
  font-size: 24px;
  color: #333;
  cursor: pointer;
}

@media (max-width: 768px) {
  .header__bars {
    display: block;
  }

  nav ul {
    display: none;
  }
}