

.tour-content {
  display: flex;
  gap: 2rem;
  padding: 2rem;
}

.tour-info {
  flex: 2;
}

.tour-info h2 {
  margin-top: 1rem;
}

.tour-info ul {
  list-style-type: disc;
  padding-left: 1.5rem;
}

.book-now-form {
  flex: 1;
  background-color: #f9f9f9;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.book-now-form h2 {
  margin-bottom: 1rem;
}

.book-now-form .form-group {
  margin-bottom: 1rem;
}

.book-now-form .form-group label {
  display: block;
  margin-bottom: 0.5rem;
}

.book-now-form .form-group input,
.book-now-form .form-group textarea {
  width: 95%;
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.book-now-form button {
  width: 100%;
  padding: 0.75rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.book-now-form button:hover {
  background-color: #0056b3;
}

/* Image carousel styles */
.image-carousel-section {
  width: 100%;
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-carousel {
  /* margin: 2rem 0; */
  /* border: 1px solid red; */
}

.image-carousel .image-gallery-slide img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.image-gallery-wrapper {
  max-width: 600px; /* Adjust the max-width as needed */
  margin: 0 auto;
}


/* Responsive adjustments */
@media (max-width: 768px) {
  .tour-content {
    flex-direction: column;
    padding: 1rem;
  }

  .book-now-form {
    padding: 1rem;
  }

  .book-now-form .form-group input,
  .book-now-form .form-group textarea {
    width: 95%;
  }
}