.modal-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-box {
  position: relative;
  background-color: white;
  padding: 20px;
  outline: none;
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
  border-radius: 8px;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
}

.modal-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
}
