.contact {
  /* background-color: #f9f9f9; */
  padding: 4rem 0;
  /* border: 1px solid red; */
  z-index: 999;
  /* border-radius: 20px; */
  background-size: cover;
}

.contact .title {
  margin-bottom: 2rem;
  /* text-align: center; */
}

.background__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  /* border: 1px solid red; */
  filter: brightness(0.7);
}

.background__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.contact-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  /* flex-wrap: wrap; */
  /* border: 1px solid red; */
  /* width: 100%; */
  background-color: #f9f9f9;
  border-radius: 20px;
  padding: 2rem;
}

.contact-info {
  min-width: 150px;
}

.contact-info p {
  font-size: 1rem;
  color: #555;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
}

.contact-info p svg {
  margin-right: 0.5rem;
}

.contact-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  min-width: 250px;
}

.contact-logo img {
  max-width: 100%;
  height: auto;
}

@media screen and (max-width: 1024px) {
  .contact-content {
    flex-direction: row;
    align-items: center;
  }

  .contact-info,
  .contact-logo {
    width: 100%;
    text-align: center;
  }

  .contact-info p {
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .contact-content {
    flex-direction: column;
    align-items: center;
  }

  .contact-info,
  .contact-logo {
    width: 100%;
    text-align: center;
  }

  .contact-info p {
    justify-content: center;
  }
}

@media screen and (max-width: 480px) {
  .contact-content {
    flex-direction: column;
    align-items: center;
    /* border: 1px solid red; */
  }

  .contact-info,
  .contact-logo {
    width: 90%;
    text-align: center;
  }

  .contact-info p {
    justify-content: center;
  }
}